#gallery {
  position: relative;
}
.app__gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
}

.app__tattoo-img {
  margin: 5px;

  img {
    width: 300px;
    height: 400px;
    border-radius: 0.55rem;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}
